ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 2rem !important;
  justify-items: center;
}

@media (max-width: 1200px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1000px) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 750px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  ul {
    grid-template-columns: 1fr;
  }
}
